html, body {
	padding: 0px;
	margin: 0px;
}
body {
	background: url("background.jpg");
	background-size: cover;
}
.header {
	width:100%;
	height: 50px;
	background: #000;
	color: #FFF;
	text-align: center;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	vertical-align: middle;
	line-height: 50px;
	font-size: 24px;
}

.gameWrapper {
	width: 100%;
	height: auto;
	text-align: center;
}

.userControl {
	padding-top: 20px;
}

.userControl div {
	display: inline-block;
	text-align: center;

}
